
body {
    margin:0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


.header{

    
    background-color: #d9d9d9;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 15px;
    border-bottom: 2px solid #e2e8f0;


}


#companylogo{

    height:60px;
    width: 250px;
    margin:10px;
    margin-left:50px;
    
}

#header-links{

    font-size: 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 100px;

}

#order-number-form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-left: 700px;
    margin-top: 150px;
    width: 500px;
    height: 500px;
    gap: 50px;
}



#order-number{
    padding: 10px;
    width: 600px;
    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#submitbutton{

    font-size: 25px;
    padding: 5px;
    background-color: #ffd504;
    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;
    width: 200px;
}

#submitbutton:hover{

    background-color: #ffeb87; 
}

