body {
    margin:0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


.header{

    
    background-color: #d9d9d9;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 15px;
    border-bottom: 2px solid #e2e8f0;


}


#companylogo{

    height:60px;
    width: 250px;
    margin:10px;
    margin-left:50px;
    
}

#header-links{

    font-size: 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 100px;

}

#restofbody{
    font-size: 15px;
    flex-direction: column;
    justify-content: space-between;
}

#container{
    display:block;
}


#EntradaEquipoMarca{
    display:flex;
    justify-content: space-between; 
}


#entradanumero{

    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}


#nombreEquipo{

    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}


#nombreMarca{

    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#ModeloSerial{
    display:flex; 
    justify-content: space-between;
}

#nombreModelo{

    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#codigoSerial{

    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#BlankEstadoConsultar{
    display:flex; 
    justify-content: space-between;
}

#estadoEquipo{

    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#ordernumberinform{
    gap: 5px;

}

#consultinput{

    padding: 10px;
    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#submitbutt{

    font-size: 25px;
    padding: 5px;
    background-color: #ffd504;
    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;

}

#submitbutt:hover{

    background-color: #ffeb87; 
}

















