body {
    margin:0px;
}

.header{

    
    background-color: #97a2c3;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 15px;
    border-bottom: 2px solid #e2e8f0;


}

#companylogo{

    height:60px;
    width: 250px;
    margin:10px;
    margin-left:50px;
    
}

#endsessionbutton{

    margin:10px;
    margin-right:100px;
    color:rgb(0, 0, 0);
    background-color: #ffd504;
    font-size: 15px;
    border-radius: 12px;
    border-width: 3px;

}

#endsessionbutton:hover{

    background-color: #ffeb87; 
}



#mainbody{
    display:flex;
}

#mainpage{
    margin: 10px;
}

.AboveTable{

    display:flex;
    justify-content:space-around;
}

#Newequipmentbutton{
    height: 50px;
    color:rgb(0, 0, 0);
    background-color: #ffd504;
    font-size: 15px;
    padding: 4px;
    padding-top: 4px;
    border-radius: 12px;
    border-width: 3px;
}

#Newequipmentbutton:hover{

    background-color: #ffeb87; 
}

.crud-table, th{

    border-style: solid;
    border-width: 2px;
    border-color:#97a2c3;
    border-collapse:collapse;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
} 

#inputsection {
    margin-right:50px;
    margin-top:30px;
    display:none;
    width: 100%;
} 

input, select, option{
    width:80%;
    padding:5px;
    border: color #182a64;
    border-radius: 50px;
    border-width: 5px;
    
}

.submitbutton{

    background-color: #ffd504;

}

.submitbutton:hover{

    background-color: #ffeb87; 
}

input, label, select{

    margin:10px;
}

#hidden
{
    display:none;
}


