body {
    margin:0px;
}

.header{

    
    background-color: #97a2c3;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 15px;
    border-bottom: 2px solid #e2e8f0;


}

#companylogo{

    height:60px;
    width: 250px;
    margin:10px;
    margin-left:50px;
    
}

#endsessionbutton{

    margin:10px;
    margin-right:100px;

}

#mainbody{
    display:flex;
}

.AboveTable{

    display:flex;
    justify-content:space-around;
}

.crud-table{
    width:100%;
    border-collapse:collapse;
    margin-top: 20px;
    background-color:azure;
}

.crud-table th, .crud-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}


.crud-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.inputsection {
    margin:10px;
    display:flex;
    width: 30%;
}

.hidden
{
    
}


