
#Empacc{

    font-size: 25px;
    padding: 5px;
    background-color: #2572ed;
    border-style: outset;
    border-color: #000000;
    color: #000000;
    border-radius: 20px;
    border-width: 5px;
    width: 300px;
    position: fixed;   
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
}

#Empacc:hover{

    background-color: #7caeff;
}
